{% extends "base.html"%}

{% block title %}
<title>หน้าแรกของเว็บไซต์</title>
{% endblock %}

{% block content %}
<div class="banner">
    <h1>ICT12367 SPU</h1>
    <h2>15 เหตุผลว่าทำไม ใครๆก็เลือกเรียน ‘ศรีปทุม’
ทำไมใครๆก็เลือกเรียน ‘ศรีปทุม’
เขาว่ากันว่าก้าวสำคัญในชีวิตอีกหนึ่งก้าว คือช่วงก้าวเข้ามหาวิทยาลัย เสมือนกับนักกีฬาถ้าอยากเก่งและพร้อมไปด้วยทักษะความสามารถ ก็ต้องมีโค้ชที่ดีมากด้วยประสบการณ์ มหาวิทยาลัยศรีปทุมเราพร้อมดูแลก้าวสำคัญของน้องๆ ไปพร้อมกันด้วยหัวใจ อย่ารอช้า ตรงเข้ามาร่วมเป็นส่วนหนึ่งในบ้านของเรากันเถอะ</h2>

<p>1.มหาวิทยาลัยชั้นนำสำหรับคนรุ่นใหม่
จากอดีตจนถึงปัจจุบันนับตั้งแต่มหาวิทยาลัยศรีปทุมได้รับพระมหากรุณาธิคุณจากสมเด็จพระศรีนครินทราบรมราชชนนี ทรงพระกรุณาโปรดเกล้าฯ พระราชทานนามว่า ‘ศรีปทุม’ และพระราชทานความหมายว่า “เป็นบ่อเกิดแห่งวิชาที่เบิกบานเช่นดอกบัว” เป็นเวลามากกว่า 40 ปีแล้วที่เราผลิตบัณฑิตมากมาย ไม่ใช่เพียงบัณฑิตที่อัดแน่นไปด้วยวิชาการ แต่เป็นบัณฑิตที่พร้อมไปด้วยความคิดดี และมีหัวใจสร้างสรรค์ เพื่อเป็นส่วนหนึ่งในการช่วยออกแบบสังคมให้ก้าวไปข้างหน้าอย่างมีคุณภาพ
</p>
<p>2.เรียนกับตัวจริงประสบการณ์จริง
หากจะเป็นนักกีฬาที่เชี่ยวชาญในเกม เราต้องมีโค้ชที่มากด้วยประสบการณ์ ที่มหาวิทยาลัยศรีปทุม น้องๆจะได้เรียนกับตัวจริง! ประสบการณ์จริง! มีวิทยากรผู้เชี่ยวชาญจากหลากหลายสาขา ทั้งบันเทิง สถาปัตย์ นิติ บัญชี การบิน และอีกมากมายที่พร้อมช่วยกันผลักดันศักยภาพของน้องๆให้พร้อมจบออกไปอย่างมีคุณภาพและเป็นที่ต้องการของบริษัทที่น้องๆใฝ่ฝันแน่นอน
</p>
<p>3.สาขาการจัดการความปลอดภัยการบิน ที่แรกและที่เดียวในไทย
ปฏิเสธไม่ได้เลยว่าความต้องการของตลาดแรงงานในอุตสาหกรรมการบินนั้นมีค่อนข้างสูง เนื่องจากบินเป็นธุรกิจที่มีการเจริญเติบโตอย่างต่อเนื่อง ที่มหาวิทยาลัยศรีปทุมเราเปิดสาขาการจัดการความปลอดภัยการบิน ที่แรกในประเทศไทย เมื่อถึงปี 4 น้องๆสามารถเลือกเรียนตามสายงานที่ชอบได้ อย่างการบริหารความปลอดภัยสนามบิน การบริหารความปลอดภัยขนส่งทางอากาศ หรือใครใฝ่ฝันอยากเป็นนักบินก็สามารถต่อยอดไปเป็นนักบินได้ โดยไม่ต้องเริ่มต้นเรียนใหม่ เรามีอาจารย์ประจำคณะเป็นครูฝึกนักบิน พร้อมอัดแน่นประสบการณ์จริงให้กับน้องๆ รับรองได้ว่าสามารถเข้าทำงานในอุตสหกรรมการบินได้อย่างมีประสิทธิภาพ
</p>

<p>4.ดิจิทัลมีเดีย ดีที่สุดในไทยต้องที่ศรีปทุม
ถ้ารู้ตัวว่ามีหัวสร้างสรรค์ ชอบคิด ชอบเขียน ชอบวาด ชอบการ์ตูน ชอบเกม มาทางนี้! คณะดิจิตอลมีเดียอันดับ 1 ของประเทศไทย ครอบคลุมสื่อดิจิทัล ใครชอบทางไหนต้องไปให้สุด ไม่ว่าจะเป็น ดิจิตอลอาร์ต การออกแบบกราฟฟิค ความพิวเตอร์แอนิเมชันและวิชวลเอฟเฟกต์ หรือการออกแบบอินเทอร์แอคทีฟและเกม  แอบบอกว่าตอนนี้ที่ศรีปทุมเราจับมือกับการีนา ออนไลน์ ประเทศไทย ร่วมกันพัฒนาหลักสูตรการเรียนการสอนเกี่ยวกับอุตสาหกรรมเกม และอีสปอร์ต เน้นให้น้องๆได้ปฏิบัติงานจริงไม่ใช่เรียนอยู่ในตำรา แถมอาจารย์ที่สอนยังเป็นมืออาชีพจากบริษัทชั้นนำในวงการสื่อดิจิทัล พร้อมช่วยพัฒนาศักยภาพของน้องๆให้ทะลุถึงขีดสุดกันไปเลย
</p>
<p>5.ครอบคลุมสายหลักวิศวะ
ใครชอบวิเคราะห์ หัวพัฒนา กล้าคิด กล้าตัดสินใจ เดินเข้ามารับเกียร์ไว้รอเจ้าของหัวใจที่ศรีปทุมได้เลย! เพราะที่นี่เรามีให้ครบ 3 สายหลักเด็กวิศวะ ไม่ว่าจะเป็น วิศกรรมไฟฟ้า วิศวกรรมโยธา วิศวกรรมเครื่องกล แต่เดี๋ยว! ยังไม่หมดเพียงเท่านี้ เรายังมีวิศกรรมยานยนต์ วิศกรรมอุตสหการเพิ่มเข้ามาให้น้องได้เลือกคล้องเกียร์ตามใจ และด้วยประสบการณ์มากกว่า 40 ปี น้องๆจะได้ความรู้อัดแน่นจากอาจารย์วิศกรมืออาชีพ ผ่านเครื่องมือที่ทันสมัยพร้อมห้องแล็ปให้น้องได้เรียนรู้และปฏิบัติจริง
</p>
<p>6.สถาปัตย์ฯโดดเด่นด้วย House Design Studios แห่งเดียวในไทย
ใครสายเด็กเซอร์รักการออกแบบ เดินตรงมานั่งเก้าอี้แล้วเตรียมสวมหมวกคัดสรรเข้าบ้านกันได้เลย เพราะสถาปัตย์ฯ เราโดดเด่นด้วยแนวคิด House Design Studios เมื่อขึ้นชั้นปีที่ 2 น้องๆจะต้องเลือกเข้า House เพียงหนึ่งเดียวจากทั้งหมด 4 House Studios ตามสไตล์ที่ใช่ โดยมีอาจารย์และพี่เลี้ยงคอยดูแล เหมือนยกฮอกวอตส์มาไว้ที่ศรีปทุมกันเลย การเรียนในรูปแบบ House Studios น้องๆจะได้สัมผัสบรรยากาศการทำงานจริง ได้แลกเปลี่ยนแนวความคิด สร้างและกระตุ้นบรรยากาศในการเรียน เกิดการแข่งขันระหว่าง House  เพื่อให้น้องๆค้นพบตัวตน ไปพร้อมๆกับการสร้างเอกลักษณ์ของชิ้นงานให้เป็นที่น่าจดจำและมีโอกาสร่วมงานกับบริษัทสถาปนิกชั้นนำทั้งไทยและต่างประเทศ
</p>
<p>7.สายนิเทศฯ 360 องศา ทั้งเบื้องหน้าและเบื้องหลัง
ชูมือขึ้นแล้วหมุนๆ ชูมือขึ้นโบกไปมา ไหนใครสายนิเทศฯยกมือขึ้น! ศรีปทุมเรามีการเรียนการสอนแบบ 360 องศา จบมาทำงานได้ทั้งเบื้องหน้าและเบื้องหลัง พร้อมสาขาให้น้องๆได้เลือกตามความฝันมากมาย อย่างสาขาภาพยนตร์และสื่อดิจิทัล การออกแบบสื่อสารออนไลน์ การออกแบบแฟชั่น วิทยุกระจายเสียงและวิทยุโทรทัศน์ และใครที่กำลังมองหน้าโอกาสเข้าสู่วงการบันเทิง เรามีสาขาศิลปะการแสดงโดยมีคุณไก่ วรายุฑ ร่วมออกแบบหลักสูตร แถมก่อนจบน้องๆ จะมีผลงานเบื้องหน้าไม่ต่ำกว่า 3 ชิ้นแน่นอน
</p>

<P>8. เรียนบัญชีที่ศรีปทุม เรียนครบ จบไว มีงานทำ 100%
เด็กเนิร์ดชอบตัวเลขฟังทางนี้ ใครอยากเรียนบัญชีที่มหาวิทยาลัยศรีปทุม เราเน้นให้น้องๆ ได้มีประสบการณ์ทำบัญชีจริง มีศูนย์ปฏิบัติทางวิชาชีพให้ได้ทำบัญชีจริงๆ เพื่อให้น้องๆมีพื้นฐานนักบัญชีที่ดี คิดวิเคราะห์ได้อย่างลึกซึ้งเพื่อให้ง่ายต่อการจัดทำและเสนอข้อมูลทางธุรกิจได้อย่างถูกต้อง รวดเร็ว แม่นยำ เป็นที่ยอมรับในระดับนานาชาติ! แถมเรียนครบจบได้ภายใน 3 ปีครึ่ง พร้อมการันตีเลยว่าจบมามีงานทำ 100% และกว่า 80% ถูกจองตัวก่อนเรียนจบ
</P>
<p>9. อุปกรณ์การเรียนครบครัน
นอกจากการเรียนจากตัวจริงจากหลากหลายวงการแล้ว เรายังมีเครื่องไม้เครื่องมือให้น้องๆได้จับได้เล่นกันอย่างครบครัน  ใครเรียนการบินไม่ต้องกลัวว่าจะต้องเรียนอยู่แค่ในตำราอีกต่อไป เพราะเราห้อง Mock Up มีอุปกรณ์จริงๆ ให้น้องๆได้เรียนรู้และฝึกปฏิบัติงานเสมือนอยู่บนเครื่องบินกันไปเลย
</p>
<p>10. เรียนรู้ด้วยการปฏิบัติจริงกับสหกิจศึกษา
แน่นอนว่ามากกว่าการเรียนคือประสบการณ์จริง เรามีโครงการจัดอบรมกับบริษัทชั้นนำมากมาย พร้อมสร้างโอกาสให้น้องๆได้ออกไปปฏิบัติงานจริง ในสถานประกอบการที่มีชื่อเสียง พร้อมมีรายได้ระหว่างเรียน และน้องๆยังได้เรียนรู้และพัฒนาทักษะก่อนจบไปเป็นบัณฑิต เพื่อเพิ่มโอกาสในการทำงานหลังจบการศึกษาด้วย
</p>
<p>11. เรียนหนักแค่ไหน เราก็มีมุมสนุกให้ผ่อนคลาย
นอกจากการความรู้ที่เราอัดแน่นให้แล้ว ยังมีมุมสนุกๆให้น้องได้ผ่อนคลาย ใครอยากอ่านหนังสือเพลินๆ ที่ศรีปทุมเรามีห้องสมุดให้น้องๆถึง 7 ชั้น! คัดสรรมาแล้วเพื่อเด็กๆทั้งนั้น จะนั่งอ่านแบบชิลๆ หรืออยากจะอ่านกับเพื่อนแบบจับกลุ่มติว เราก็มีห้องสำหรับติวหนังสือให้ ส่วนใครที่หนังสือไม่ใช่แนว! ไม่ต้องห่วงเรื่องนั้น เรามีมุมสนุกๆอย่างมุมอินเทอร์เน็ต คาราโอเกะ ดูหนังฟังเพลงให้คลายเครียด บอกเลยว่ามันฟินมากกกก
</p>
<p>12. บรรยากาศอบอุ่น
น้องๆที่ก้าวเข้ามาจะรับรู้ถึงความอบอุ่นได้ตั้งแต่หน้ามหาวิทยาลัย “แดดมันร้อนหรอพี่?” ถูกต้อง! โถ่วววว ไม่ใช่!! เพราะตั้งแต่หน้ามหาวิทยาลัยน้องๆจะเจอกับการต้อนรับแสนอบอุ่นจากพี่ รปภ.คนสวยยืนยิ้มหวานให้ทุกวัน ใครไปตึกไหนไม่ถูกถามพี่เขาได้เลยจ้า ที่ศรีปทุมเราดูแลกันเหมือนครอบครัว ยิ่งช่วงกิจกรรมรับน้องนี่บอกเลยว่าสนุกสุดเหวี่ยง  ส่วนใครที่ทำงานไปด้วย เรียนไปด้วยก็ไม่ต้องกังวล เดินตรงเข้าไปปรึกษาอาจารย์ได้เลย เราพร้อมเป็นที่ปรึกษาและหาทางออกไปพร้อมกับเด็กๆเสมอ บอกได้เลยว่าถ้าไม่รักไม่ทำให้ขนาดนี้นะเนี่ยยย
</p>
<p>13.สิ่งอำนวยความสะดวกครบครัน
วันนี้เรียนชั้น 12! กว่าจะเดินถึงห้องน่าจะเป็นลมก่อน ลิฟต์ก็ต่อแถวยาวไปถึงหน้าประตู ช้าไปอีกกกกก มองดูนาฬิกาอีก 5 นาทีอาจารย์จะล็อคห้องแล้วทำยังไงดี! ไม่ต้องห่วงค่ะ พี่มีทางออกให้ ที่ศรีปทุมเรามีบันไดเลื่อนให้น้องๆ มากสุดที่อาคาร 11  หรืออาคาร 40 ปี มีทั้งหมด 14 ชั้น ส่วนที่จอดรถไก็ไม่ต้องกังวลเพราะนอกจากที่จอดรถกลางแจ้งแล้ว เราก็มีอาคารสำหรับจอดรถให้ที่อาคาร 9 ทั้งหมด 6 ชั้น รับรองว่าเพียงพอต่อความต้องการแน่นอน
</p>
<p>14. เดินทางไม่ยาก
เรื่องการเดินทางสะดวกสบายหายห่วง เรามีให้น้องๆได้เลือกทั้งหมดตั้งแต่พี่วิน ยามตื่นสาย แล้วกลัวเข้าห้องไม่ทัน เร่งด่วนไม่มากด้วยรถตู้ หรือจะใช้ชีวิตชิลๆนั่งตากลม ตากแอร์บนรถเมล์ก็ได้เหมือนกัน และเรามีรถไฟฟ้าจอดเทียบชานชาลาที่หน้ามหาวิทยาลัยในชื่อสถานี ‘บางบัว’ จากโครงการรถไฟฟ้าสายสีเขียว (เหนือ) ช่วงหมอชิต -สะพานใหม่ - คูคต</p>
<p>
15. ฟังดีๆเรามีทุนมาแจก!
น้องๆคนไหนอยากร่วมเป็นส่วนหนึ่งกับครอบครัวศรีปทุม เราพร้อมมอบทุนโควตาพิเศษสูงสุด 20,000 บาท ไม่ว่าจะลงทะเบียนปกติ หรือเป็นผู้กู้ กยศ.และ กรอ. ก็มีสิทธิรับทุน
ยัง! ยังไม่พอ สำหรับใครที่รู้ตัวว่ามีดี ต้องรีบโชว์ ไม่ว่าจะเรียนดี กิจกรรมดี หรือมีความดี เราพร้อมมอบทุน Portfolio 3ดี  30,000 บาท เพียงแค่น้องๆยื่น Portfolio แล้วสอบสัมภาษณ์ง่ายๆ แถมไม่ต้องกังวลเรื่องตัดสิทธิ์ Clearing House ด้วยนะจ๊ะ ดูรายละเอียดทุนเพิ่มเติมได้ที่ www.spu.ac.th/scholarship/
</p>
</div>

{% endblock %}